<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" href="../css/mui.min.css" />
	<link rel="stylesheet" href="../css/app.css" />
  <style type="text/css">
    .mui-content {
      padding-bottom: 60px;
    }
    .promotion-service-title>div{
      justify-content: flex-start;
      margin: 8px 0;
    }
    .mui-checkbox .promotion-service-btn input {
      top: calc(50% - 14px);
    }
    .mui-input-row label:not(.mui-media) {
      width: calc(100% - 170px);
      padding: 0;
    }
  </style>
</head>

<body>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"><span class="font14">返回</span></a>
		<h1 class="mui-title">活动促销</h1>
	</header>
	<div id="myapp" class="mui-content padding-left-right">
    <div class="promotion-service-list mui-input-row mui-checkbox bg-white" v-for="item in listData">
      <img :src="item.img_url || '../images/sample.png'" width="80px" height="80px" >
      <label class="promotion-service-title">
        <h5 class="mui-ellipsis mui-ellipsis-1 color333">{{item.name}}</h5>
        <div>
          <div class="red bold margin-right-15">￥<span class="font16">{{item.service_price}}</span></div>
          <div class="font12">销量:{{item.count_sales}}</div>
        </div>
        <p class="margin0 font12 mui-ellipsis mui-ellipsis-1">{{item.title}}</p>
      </label>
      <div class="promotion-service-btn">
        <input type="checkbox" v-model="selectIds" name="service" :value="item.id">
      </div>
    </div>
	</div>
  <div class="mui-content-padded button-fix">
  	<button type="button" class="mui-btn mui-btn-warning mui-btn-block buttom-button" id="save">
  		<i class="mui-icon mui-icon-checkmarkempty"></i>
  		确认选择
  	</button>
  </div>
<script type="text/javascript" src="../js/mui.min.js"></script>
<script type="text/javascript" src="../js/vue.min.js"></script>
<script type="text/javascript" src="../js/jquery-3.3.1.min.js" ></script>
<script type="text/javascript" src="../js/app.js" ></script>
<script type="text/javascript">
	mui.init();
  var vm = new Vue({
  	el: '#myapp',
  	data: {
  		listData: [],
      selectIds: [],
      promotionData: ""
  	}
  })
	mui.plusReady(function (){
    var heard = plus.webview.currentWebview();
    vm.promotionData = heard.promotionData;
    // console.log(JSON.stringify(vm.promotionData));
    doAjax("/company/service/list",{
    	_token: UserInfo.data._token,
    	page_num: 50,
    	page: 1,
    	status: 1
    },function (_data) {
      // console.log(JSON.stringify(_data));
      vm.listData = _data.list;
      for(var i in vm.promotionData.service_store_list) {
        vm.selectIds.push(vm.promotionData.service_store_list[i].id);
      }
      for(var i in vm.selectIds) {
        for(var j in vm.listData) {
          if(vm.selectIds[i] == vm.listData[j].id) {
            vm.listData.splice(j,1)
          }
        }
      }
      vm.selectIds = [];
    },"get");
    $("#save").on("tap",function(){
      if(vm.selectIds.length == 0) {
        mui.toast("请选择要添加的活动");
        return;
      }
      doAjax("/company/promotion/binding",{id: 5,service_store_id: vm.selectIds},function(_data,_msg) {
        // console.log(JSON.stringify(_data));
        mui.toast(_msg);
        mui.fire(plus.webview.getWebviewById("promotion-detail"), 'reload',{
          id: vm.promotionData.id
        });
        mui.back();
      })
    })
	})
</script>
</body>

</html>