<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" href="../css/mui.min.css" />
	<link rel="stylesheet" href="../css/app.css" />
  <style type="text/css">
    .image-list {
      margin-top: 0;
      margin-bottom: 5px;
    }
    .mui-card>p {
      padding: 11px 15px 0;
    }
  </style>
</head>

<body>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"><span class="font14">返回</span></a>
		<h1 class="mui-title" id="title">个人商铺认证</h1>
	</header>
	<div id="myapp" class="mui-content" v-cloak>
		<div class="mui-card">
			<form class="mui-input-group no-border-before no-border-after">
				<div class="mui-input-row">
					<label>经营者姓名</label>
					<input type="text" v-model="authenticationData.name" placeholder="经营者姓名" >
				</div>
        <div class="mui-input-row">
        	<label>身份证号</label>
        	<input type="text" v-model="authenticationData.identity_id" placeholder="经营者身份证" >
        </div>
			</form>
		</div>
		<div class="mui-card">
      <p class="font12 margin0">*请上传正反身份证</p>
			<ul class="image-list mui-clearfix">
				<li v-for="(item,index) in imageData" :id="item.id">
					<img :src="item.url" />
					<span><i class="mui-icon mui-icon-closeempty" @click="delImage(index)" :data-index="index"></i></span>
				</li>
				<li id="addImage" v-show="imageData.length < 2">
					<i class="mui-icon mui-icon-plusempty"></i>
					<br />
					<small>上传图片</small>
				</li>
			</ul>
		</div>
		<div class="mui-content-padded margin-top-20">
			<button type="button" class="mui-btn mui-btn-royal mui-btn-block buttom-button" id="save">
				<i class="mui-icon mui-icon-checkmarkempty"></i>
					提交审核
			</button>
		</div>
	</div>
<script type="text/javascript" src="../js/mui.min.js"></script>
<script type="text/javascript" src="../js/vue.min.js" ></script>
<script type="text/javascript" src="../js/jquery-3.3.1.min.js" ></script>
<script type="text/javascript" src="../js/app.js" ></script>
<script type="text/javascript" src="../js/uploader.js"></script>
<script type="text/javascript">
	mui.init();
	document.addEventListener('get_img', function(event) {
	  console.log(JSON.stringify(event.detail));
		vm.storeData = event.detail.storeData;
		vm.imageData = event.detail.imageData;
	});
  imageType = "idcard";
  pageId = "personal-store";
  vm = new Vue({
    el: '#myapp',
    data: {
      storeData: "",
      authenticationData: "",
      imageData: []
    },
    methods: {
      delImage: function(_index) {
//				console.log(JSON.stringify(vm.imageData[_index]))
        vm.imageData.splice(_index,1);
      }
    }
  })
	mui.plusReady(function (){
    var heard = plus.webview.currentWebview();
    // console.log(JSON.stringify(heard));
    vm.storeData = heard.data;
    vm.imageData = vm.authenticationData.imgList1 || [];
    vm.authenticationData = heard.authenticationData;
    $("#addImage").on("tap",function(){
      showActionSheet();
    })
    $("#save").on("tap",function(){
      var top_imgs = [];
      for(var i=0;i<vm.imageData.length;i++) {
        if(vm.imageData[i].id) {
          top_imgs.push(vm.imageData[i].id);
        }
      }
      doAjax("/company/store/editStore",{
        _token: UserInfo.data._token,
        type: 3,
        param: JSON.stringify({
          type: "1", // type1 个人商家认证
          name: vm.authenticationData.name, //经营者姓名
          identity_id: vm.authenticationData.identity_id, //身份证好
          imgs1: top_imgs.join()
        })
      },function(_data,_msg) {
        console.log(JSON.stringify(_data));
        vm.storeData.certification_type = 1;
        vm.storeData.certification_status = 0;
        vm.storeData.certification_status_text = "审核中";
        mui.fire(plus.webview.getWebviewById("store"), 'get_detail', {
          storeData: vm.storeData
        });
        mui.toast(_msg);
        mui.back();
      })
    })
  })
</script>
</body>

</html>