<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" href="../css/mui.min.css" />
	<link rel="stylesheet" href="../css/app.css" />
  <style type="text/css">
    textarea {
      margin: 7px 15px 7px 0 !important;
      padding: 0;
      font-size: 14px;
      color: #333;
      background-color: #FBFBFB !important;
    }
    .mui-input-row label~textarea {
      width: calc(100% - 120px);
    }
  </style>
</head>

<body>
	<header class="mui-bar mui-bar-nav">
		<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"><span class="font14">返回</span></a>
		<h1 class="mui-title" id="title">店铺信息</h1>
	</header>
	<div id="myapp" class="mui-content" v-cloak>
		<div class="mui-card">
			<form class="mui-input-group no-border-before no-border-after">
				<div class="mui-input-row">
					<label>店铺名称</label>
					<input type="text" v-model="storeData.name" placeholder="名称" >
				</div>
        <div class="mui-input-row height-auto">
        	<label>店铺介绍</label>
          <textarea rows="4" v-model="storeData.description" placeholder="店铺介绍"></textarea>
        </div>
				<div class="mui-input-row">
					<label>联系人</label>
					<input type="text" v-model="storeData.contact_name" placeholder="姓名" >
				</div>
				<div class="mui-input-row">
					<label>联系电话</label>
					<input type="text" v-model="storeData.phone" placeholder="电话" >
				</div>
			</form>
		</div>
		<div class="mui-card">
			<ul class="image-list mui-clearfix">
				<li v-for="(item,index) in imageData" :id="item.id">
					<img :src="item.url" />
					<span><i class="mui-icon mui-icon-closeempty" @click="delImage(index)" :data-index="index"></i></span>
				</li>
				<li id="addImage">
					<i class="mui-icon mui-icon-plusempty"></i>
					<br />
					<small>上传图片</small>
				</li>
			</ul>
		</div>
		<p class="margin10 font12">*上传店铺门面照片</p>
		<div class="mui-content-padded margin-top-20">
			<button type="button" class="mui-btn mui-btn-royal mui-btn-block buttom-button" id="save">
				<i class="mui-icon mui-icon-checkmarkempty"></i>
					提交
			</button>
		</div>
	</div>
<script type="text/javascript" src="../js/mui.min.js"></script>
<script type="text/javascript" src="../js/vue.min.js" ></script>
<script type="text/javascript" src="../js/jquery-3.3.1.min.js" ></script>
<script type="text/javascript" src="../js/app.js" ></script>
<script type="text/javascript" src="../js/uploader.js"></script>
<script type="text/javascript">
	mui.init();
	document.addEventListener('get_img', function(event) {
    // console.log(JSON.stringify(event.detail));
		vm.storeData = event.detail.storeData;
		vm.imageData = event.detail.imageData;
	});
  vm = new Vue({
    el: '#myapp',
    data: {
      storeData: "",
      imageData: []
    },
    methods: {
      delImage: function(_index) {
//				console.log(JSON.stringify(vm.imageData[_index]))
        vm.imageData.splice(_index,1);
      }
    }
  })
  pageId = "store-base";
  mui.plusReady(function (){
    var heard = plus.webview.currentWebview();
    vm.storeData = heard.data;
    vm.imageData = vm.storeData.top_imgs_array;
    $("#addImage").on("tap",function(){
      showActionSheet();
    })
    $("#save").on("tap",function(){
      var top_imgs = [];
      for(var i=0;i<vm.imageData.length;i++) {
        if(vm.imageData[i].id) {
          top_imgs.push(vm.imageData[i].id);
        }
      }
      doAjax("/company/store/editStore",{
        _token: UserInfo.data._token,
        type: 1,
        param: JSON.stringify({
          name: vm.storeData.name,
          contact_name: vm.storeData.contact_name,
          phone: vm.storeData.phone,
          description: vm.storeData.description,
          top_imgs: top_imgs.join()
        })
      },function(_data,_msg) {
        console.log(JSON.stringify(_data));
        mui.fire(plus.webview.getWebviewById("tab-main.html"), 'get_detail', {
          bannerData: vm.imageData
        });
        vm.storeData.top_imgs_array = vm.imageData;
        mui.fire(plus.webview.getWebviewById("store"), 'get_detail', {
          storeData: vm.storeData
        });
        mui.toast(_msg);
        mui.back();
      })
    })
  })
</script>
</body>

</html>